# Environment Configuration
.env

# Build output folders
build/
public/
dist/
es/
lib/

# Webpack build output of the js client
backend/assets/client/

# Isomorphic webpack output
webpack-assets.json
webpack-stats.json

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# Debug log from npm
npm-debug.log

# Cache file from ESLint
.eslintcache

