# Environment Configuration
.env

# Build output folders
build/
dist/
lib/
bin/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# Debug log from npm
npm-debug.log

# Cache file from ESLint, Happypack
.eslintcache
.happypack
.hardsource
.recordscache

# Test path
test_bootstrap/
