@font-face {
  src: url("source-sans-pro/WOFF/OTF/SourceSansPro-ExtraLight.otf.woff") format("woff");
  font-family: Source Sans Pro;
  font-weight: 200;
  font-style: normal;
}

@font-face {
  src: url("source-sans-pro/WOFF/OTF/SourceSansPro-Light.otf.woff") format("woff");
  font-family: Source Sans Pro;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  src: url("source-sans-pro/WOFF/OTF/SourceSansPro-Regular.otf.woff") format("woff");
  font-family: Source Sans Pro;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("source-sans-pro/WOFF/OTF/SourceSansPro-Semibold.otf.woff") format("woff");
  font-family: Source Sans Pro;
  font-weight: 500;
  font-style: normal;
}

/* stylelint-disable selector-no-type */

html {
  padding: 2rem;
  font-family: Source Sans Pro;
  line-height: 1.4;
}

h1 {
  font-weight: 200;
}

h2 {
  font-weight: 200;
}

p,
ul,
ol {
  font-weight: 300;
}

strong {
  font-weight: 400;
}
