@import "./Common.css";

html {
  padding: 2em 2.5em;

  font-family: Source Sans Pro;
  font-size: 20px;
  line-height: 1.5;
}

.container {
  color: $main-color;

  h1,
  h2 {
    font-weight: 200;

    &:first-child {
      margin-top: 0;
    }
  }

  p,
  ul,
  ol {
    font-weight: 300;
  }

  strong {
    font-weight: 300;
    font-size: 24px;
  }
}
