$textColor: orange;

@mixin scale{
  transform: scale(1.2);
}

.intro{
  color: $textColor;
  display: flex;

  a{
    padding-left: calc(2px + 3px);

    &:hover{
      @include scale;
      background: blue;
      color: white;
    }
  }
}
