@import "../Common.css";

$textColor: orange;

.intro {
  display: flex;
  color: $textColor;
}

.button{
  box-sizing: border-box;
  margin-bottom: 12px;
  cursor: pointer;
  line-height: 1.1;
  border-radius: 2px;
  border: none;
  padding: 12px 18px;
  color: white;
  border-radius: 2px;
  background: $main-color linear-gradient(rgba(255,255,255,0.2), transparent);
  filter: drop-shadow(0px 1px 2px rgba($main-color, 0.5));
  font-size: 16px;
  padding: 12px 18px;
}
